
.navbar-dark {
    background-color: #1e1e82;  
}


.nav-item a:hover, .nav-item a:focus, .nav-item a:active { 
    background-color:#0762f1 !important;
    border-radius: 10px;
}


.navbar-nav li > a{
  color: white !important;
}


/*
ABOUT PAGE
*/
#intro{
	margin-top: 150px;
	padding-left: 10%;
	padding-right: 5%;

}


#me{
	margin-top:150px;
	border-radius: 25%;
}

#bottom{
	padding-top:1%;
	padding-bottom:1%;
	text-align: center;
}

#welcome{
	opacity: 0;
}


/* PROJECT PAGE */
.project{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 10%;
	padding-right: 10%;

}


.features{
	padding-top:15px;
}

.vid{
	margin-top: 40px;
	margin-bottom: 10px;
}

.projectSegment{
	background-color: #dbdbdb;
	padding: 50px;
}

.footImg{
	padding-left:5px; 
	padding-right:5px;
	border-radius: 20%;
}
/*
EDUCATION PAGE
*/

.education{
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 10%;
	padding-right: 10%;

}



.years{
	background-color: #dbdbdb;
	padding: 25px 25px 50px 40px;
	margin-right: 75px;
	margin-top: 10px;
}

.module{
	padding-top: 20px;
}


.rowAdjustment{
	padding-left:30px;
}

.GCSEs{
	
	background-color:#dbdbdb;
	padding:50px;
}


/*Work History */