


/*Footer bar*/

#bottom{
	padding-top:6px;
	padding-bottom:6px;
	text-align: center;
}

.footImg{
	padding-left:5px; 
	padding-right:5px;
	border-radius: 20%;
}

.footImg:hover{
	transform: scale(1.2, 1.2);
}


/* NAV BAR */


.navbar-dark {
    background-color: #1e1e82;  
}


.nav-item a:hover{ 
    background-color:#4C58A2;
    border-radius: 10px;
}



.navbar-nav li > a{
  color: white !important;
}


/*
ABOUT PAGE
*/


#intro{
	margin-top: 150px;
}


#me{
	margin-top: 150px;
	max-width: 100%;
	margin-bottom:150px;
	border-radius: 25%;
}



#welcome{
	opacity: 0;
}


/* PROJECT PAGE */
.project{
	padding-bottom: 10px;
	padding-left: 10%;
	padding-right: 10%;

}


.features{
	padding-top:15px;
}

.vid{
	margin-top: 40px;
	margin-bottom: 10px;
}

.projectSegment{
	background-color: #dbdbdb;
	padding: 50px;
}




/*
EDUCATION PAGE
*/


#gcseBlock{
	padding-top: 75px;
	padding-bottom: 100px;
	padding-left: 10%;
	padding-right: 10%;
}


.years{
	background-color: #dbdbdb;
	padding: 25px 25px 50px 40px;
	margin-right: 75px;
	margin-top: 10px;
}

.module{
	padding-top: 10px;
}


.rowAdjustment{
	padding-left:30px;
}

.GCSEs{
	
	background-color:#dbdbdb;
	padding:50px;
}

#bscProject{
	padding-top:25px;
}

/*Work History */



.work{
	padding-left: 10%;
	padding-right: 10%;
}






#mainTask{
	padding-top: 35px;

}

#techs{
	padding-left: 20px;
}

/* CONTACT FORM */


#contactForm{
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left: 15%;
}

#contactMe{
	text-align: center;
}


/*contact result*/


#result{
	padding-top: 300px;
	padding-bottom: 100px;
	text-align: center;
}





/*changes to single page */

.pageBreak{
	padding-top:5%; 
	padding-bottom:10%; 
	padding-left: 10%;
	padding-right: 10%;
}


@media all and (max-width: 768px) { 
    body {
        font-size: 0.8em;
        }
    }


 a{
 	cursor: pointer;
 }

 label{
 	text-align: center;
 }

 #submitError{
 	text-align: center;
 }