#RewriteEngine on
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^(.*?)/?$ $1.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

DirectoryIndex about.php

ErrorDocument 404 http://www.alexpearce.info/404